
/* Global Style Start*/
header {
    background-color: rgba(0, 0, 0, 0.4);
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    border: none;
    background-color: #089DB0;
    color: #eee;
    padding: 15px 45px;
    cursor: pointer;
}

nav {
    height: 50px;
    /* padding: 0.2rem 0;
    background-color: transparent; */
}

h1 {
    padding: 12px;
    border-top: 2px solid #fff;
}

h2 {
    font-size: 30px;
}

h3 {
    font: 28px;
}

p {
    font-size: 18px;
    letter-spacing: 2px;
}

.hr {
    width:100%;
    height: 2px;
    margin: 20px auto;
}

/*解决子元素浮动之后父元素坍缩的方法*/
.clear-fix::after {
    content: '';
    display: block;
    clear: both;
}

.sub-heading {
    line-height: 30px;
    margin: 15px 0;
    font-size: 18px;
    letter-spacing: 1px;
}

ul {
    margin: 0;
}

/* Global Style End*/
.main-wrapper {
    background: url(../images/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

nav .logo {
    float: left;
    margin: 0 0 0 2%;
    line-height: 50px;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    
}

nav .logo a {
    color: #fff;
}

nav ul {
    float: right;
    list-style: none;
    /* ul has a default margin */
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
    /*设置line-height之后文字会垂直方向居中*/
    line-height: 50px;
}

nav ul li a {
    /* change to inline-block to get a block hover, width not work, height works*/
    display: inline-block;
    color: #fff;
    font-size: 1.05rem;
}

nav ul li a:hover {
    border-bottom: 3px solid #fff;
}


.banner {
    color: #fff;
    height: 800px;
    background-color: transparent;
}

.banner .inner {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    top: 150px;
    text-align: center;
}

.banner .inner h1 {
    max-width: 300px;
    /* h1 能撑开父元素 */
    margin: 0 auto;
    padding: 1rem 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}



.banner .inner .more {
    margin-top: 280px;
    /* margin-top: 30%; */
}



.banner button {
    padding: 14px 40px;
    /* margin: 20% 0 10% 0; */

}

/*end of header*/


/*section one*/

.section-one {
    padding: 100px 0;
    /* background-color: rgba(48, 158, 148, 0.9); */
    background-color: #089DB0;
    color: #fff;
    text-align: center;
}

.section-one .wrapper {
    margin: 0 auto;
    max-width: 1080px;
}

.section-one .wrapper .hr {
    margin: 2em auto;
    width: 60%;
    /* border: 1px solid #379c94; */
    background-color: #078494;
}

.section-one .wrapper .icon-group {
    margin-top: 60px;
 }

.section-one .wrapper .icon-group .icon {
    display: inline-block;
    transform: rotate(45deg);
    width: 100px;
    height: 100px;
    /* margin: 0 5%; */
    margin: 20px;
    background-color: #0D6F7c;
    /* box-shadow: 0 0 8px #217972; */
    /*border: 1px solid #5bb7d2;*/
    /*background-color: grey */
}
    
/*end of section one*/


/*section two*/
.section-two {
    background-color: #252F34;
    color: #fff;
}

.section-two .img-section {
    width: 45%;
}

.img-section img {
    width: 100%;
}

.section-two .text-section {
    width: 55%;
}

.article-preview {
    /* remove gap between article-preview , font-size makes line-height different */
    font-size: 0;
}

.article-preview:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);

}

.article-preview > div {
    float: left
}

.text-section {
    position: relative;
    top: 70px;
    left: 50px;
}

.text-section h2 {
    margin-bottom: 20px;
}

.text-section p {
    font-size: 1rem;
    letter-spacing: 1px;
}

.text-section > * {
    max-width: 90%;
}

/*end of section two*/

/*section three*/
.section-three {
    padding: 8%;
    background-color: rgba(158, 94, 124, 0.9);
}

.section-three .heading-wrapper{
    text-align: center;
}

.section-three .hr {
    margin: 3% auto;
    background-color: #9a647e;
    width: 60%;
}

.card-group {
    margin-top: 50px;
}

.card {
    float: left;
    width: 50%;
    min-height: 300px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    padding: 5%;
}


.card:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.08);
}

.card:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.12);
}

.card:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.16);
}

.card:nth-child(4) {
    background-color: rgba(0, 0, 0, 0.2);
}

.card:nth-child(5) {
    background-color: rgba(0, 0, 0, 0.24);
}

.card:nth-child(6) {
    background-color: rgba(0, 0, 0, 0.28);
}


/*end of section three*/

/*footer*/

footer {
    background-color: #333;
    color: #fff;
    min-height: 200px;
    text-align: center;
}

ul.share-group {
    width: 1080px;
    margin: 0 auto;
    padding: 50px;
}

.share-group li {
    display: inline-block;
    padding: 10px;
}

.copyright {
    padding-bottom: 20px;
}


/* Side Bar */

.mask {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
}

/*侧边导航栏*/
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;  /*or use height: 100% */
    right: 0;
    width: 0;
    background: #383838;
    color: #fff;
    padding: 20px 0;
    transition: right .5s;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul a:hover {
    background: rgba(255,255,255,0.1);
} 

.sidebar ul li a {
    display: inline-block;
    padding: 10px 30px;
    width: 100%;
    color: #fff;
    text-decoration: none;
}
/*侧边导航栏结束*/

/*回到顶部*/
.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.back-to-top button {
    padding: 5px 10px;
    background-color: #616161;
    border: 1px solid #bdc2bd;
}
/*回到顶部结束*/